footer
  .container.text-center
    p.pull-left © 2018 Company, Inc. All Rights Reserved
    a.github-button.pull-right(href="https://github.com/otto-aa/piano-visualizer", data-icon="octicon-star", data-show-count="true", aria-label="Star Piano Visualizer on GitHub") View on GitHub
