<!DOCTYPE html>
<!--

    /\    /\
   /  \  /  \
  /____\/____\
 /     /\     \
/     /  \     \

-->
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- General meta data -->
	<meta name="application-name" content="AA | Music Player">
	<meta name="description" content="A Player to visualize Piano Music">
	<meta name="author" content="AA">
	<!-- Facebook meta data -->
	<meta property="og:title" content="AA | Music Player">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://www.aapianomusic.bplaced.net/Player/Player.png">
	<meta property="og:description" content="A Player to visualize Piano Music">


	<title>AA | Music Player</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/manage.css')}}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400,300">
</head>

<body>
	<div class="container">
		<h1 class="text-center">Manage your Songs</h1>
		<br>
		<a href="{{url_for('song.upload')}}"><button id="uploadSong" class="btn btn-success cursor-pointer"><span class="lead">Upload new Song</span></button></a>
		<hr>
		<h3>
			Uploaded Songs
			<br><small>Click to open in new tab</small>
		</h3>
		<ul id="songlist" class="list-group">
			{% for song in songs %}
				<li class="song list-group-item flex-column align-items-start" data-dataname="{{song.file_name}}">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="my-auto">{{song.name}}</h5>
						<div>
							<a href="{{url_for('song.edit', id=song.id)}}"><button class="btn btn-info cursor-pointer">Edit</button></a>
							<button class="btn btn-danger delete-song" onclick="deleteSong('{{song.name}}', {{song.id}})">Delete</button>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<!-- Bootstrap and jQuery Scripts-->
	<script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>

	<!-- Own Scripts -->
	<script type="text/javascript" src="{{url_for('static', filename='js/manage.js')}}"></script>
</body>

</html>
