<!DOCTYPE html>
<!--

    /\    /\
   /  \  /  \
  /____\/____\
 /     /\     \
/     /  \     \

-->
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AA | Music Player</title>
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/upload.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<h1 class="text-center">{% if not song %}Create new Song{% else %}Edit Song{% endif %}</h1>
	<div class="container">
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
		<form method="POST" enctype=multipart/form-data>
			<div class="form-group">
				<legend>Song</legend>
				<input type="text" class="form-control" name="name" placeholder="Song name" {% if song %}value="{{song['name']}}"{% endif %} required>
				<br>
				<input type="text" class="form-control" name="youtubeId" placeholder="Optional Youtube link">
				<br>
				<select class="form-control" name="type" data-toggle-aa="collapse">
					<option value="composition" {% if song and song['type'] == 'composition' %}selected{% endif %}>Piano Composition</option>
					<option value="improvisation" {% if song and song['type'] == 'improvisation' %}selected{% endif %}>Piano Improvisation</option>
					<option value="cover" data-target="#composers_group" {% if song and song['type'] == 'cover' %}selected{% endif %}>Piano Cover</option>
				</select>
				<div class="form-group collapse" id="composers_group">
					<textarea class="form-control" name="composers" rows="2" placeholder="Original Composers (one per line)"></textarea>
				</div>
				<br>
				<label for="date">Creation date</label>
				<input type="date" id="date" name="date" value="{{today_date if not song else song['song_creation']}}" required>
				<br>
			</div>
			<div class="form-group">
				<legend>Files</legend>
				<label for="audio_file">Audio (mp3)</label>
				<input type="file" class="form-control-file" name="audio_file" accept=".mp3" {{'required' if not song}}>
				<label for="midi_file">MIDI (mid)</label>
				<input type="file" class="form-control-file" name="midi_file" accept=".mid" {{'required' if not song}}>
				<label for="pdf_file">Sheets (pdf)</label>
				<input type="file" class="form-control-file" name="pdf_file" accept=".pdf">
			</div>
			<div class="form-group">
				<legend>File modifications</legend>
				<label for="mp3_cut">Cut first n miliseconds of mp3 (to sync with midi)</label>
				<input type="number" name="mp3_cut" value="0" min="0" step="1">
			</div>
			<button class="btn btn-secondary" id="open_preview">Open Preview</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>



	<!-- Bootstrap and jQuery Scripts-->
	<script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>

	<!-- FFMPEG.wasm -->
	<script src="{{url_for('static', filename='ffmpeg/js/ffmpeg.0.10.1.min.js')}}"></script>

	<!-- Own Scripts -->
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap_collapse.js')}}"></script>
	<script type="module" src="{{url_for('static', filename='js/upload.js')}}"></script>
</body>

</html>
